<!-- <h1> Ceci est un texte depuis app.component</h1> -->



<!-- ici j'affiche le contenu de la propriété -->
<!-- méthode string interpolation -->
<!-- <h2>{{ title }}</h2>
{{ 1+1}} -->

<!--creer un nouveau composant-->

<!--ici afficher un nouveau composant FootCrmComponent-->

<!-- dans le nouveau composant, on affiche la valeur d'une proporite comapny = 'coca'-->
<!-- <app-footercrm></app-footercrm> -->

test
 <app-ui>

  <app-header class="tr-header"></app-header>
  <app-nav class="tr-nav"></app-nav>
  <app-footer class="tr-footer"></app-footer>

  <app-icon-close class="tr-btn-close"></app-icon-close>
  <app-icon-nav class="tr-btn-nav"></app-icon-nav>

  <app-icon-delete class="tr-icon-delete"></app-icon-delete>
  <app-icon-edit class="tr-icon-edit"></app-icon-edit>

  <router-outlet class="tr-router" ></router-outlet>
 </app-ui>





